.navbar {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-color: transparent;
  backdrop-filter: none;
  border-radius: 10px;
  border-width: 1px;
  border-color: transparent;
  transition: width 0.5s, top 0.5s, background-color 0.5s, border-color 0.5s;

  &.scrolled {
    width: 70%;
    top: 20px;
    background-color: color-mix(in srgb, var(--p-card-background) 75%, transparent);
    backdrop-filter: blur(3px);
    border-color: color-mix(in srgb, var(--p-primary-500) 75%, transparent);
  }
}

.headshot-image {
  position: relative;
  overflow: clip;
  border-radius: 0 0 999px 999px;
  aspect-ratio: 0.75;

  &:before {
    content: '';
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    display: block;
    background-color: var(--p-primary-500);
    aspect-ratio: 1;
    border-radius: 999px;
    transition: background-color 0.5s;
  }

  &:hover:before {
    background-color: var(--p-primary-400);
  }

  & img {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
  }
}

.wave-1 {
  -webkit-mask-image: url('/assets/wave_1.svg');
  mask-image: url('/assets/wave_1.svg');
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: bottom;
  mask-position: bottom;
}

.wave-2 {
  -webkit-mask-image: url('/assets/wave_2.svg');
  mask-image: url('/assets/wave_2.svg');
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: bottom;
  mask-position: bottom;
}

.wave-3 {
  -webkit-mask-image: url('/assets/wave_3.svg');
  mask-image: url('/assets/wave_3.svg');
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: bottom;
  mask-position: bottom;
}

.wave-b-1 {
  -webkit-mask-image: url('/assets/wave_b_1.svg');
  mask-image: url('/assets/wave_b_1.svg');
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: top;
  mask-position: top;
}

.wave-b-2 {
  -webkit-mask-image: url('/assets/wave_b_2.svg');
  mask-image: url('/assets/wave_b_2.svg');
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: top;
  mask-position: top;
}

.wave-b-3 {
  -webkit-mask-image: url('/assets/wave_b_3.svg');
  mask-image: url('/assets/wave_b_3.svg');
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: top;
  mask-position: top;
}