<div class="w-full flex flex-col overflow-y-scroll">
    <!-- Dynamic Navbar (shows on scroll) -->
    <app-navbar class="navbar {{scrolled ? 'scrolled w-[90%] lg:w-[70%]' : 'w-[100%] lg:w-[80%]' }}"></app-navbar>

    <!-- Landing Page -->
    <div class="w-full min-h-[100vh] p-5">
        <div class="w-[100%] md:w-[70%] mx-auto h-full">
            <!-- Static Navbar -->
            <!-- <app-navbar class="w-full"></app-navbar> -->

            <!-- Landing Page Content -->
            <div class="w-full h-full flex flex-col lg:flex-row items-start justify-between">
                <!-- Headshot -->
                <div class="flex flex-col items-center justify-start h-full w-[100%] lg:w-[60%] relative pt-[70px] lg:pt-[100px]">
                    <div class="headshot-image w-full max-w-[200px] lg:max-w-[300px]">
                        <img src="assets/headshot.svg" />
                    </div>
                </div>
                <div class="flex flex-col h-full max-w-[900px] items-center lg:items-end justify-start pt-[20px] lg:pt-[150px]">
                    <p class="text-[2em] sm:text-[3em] xl:text-[4em] m-0 animate-enter fade-in-10 slide-in-from-t-20 animate-duration-1000 text-center lg:text-end">
                        Hi! I'm <b class="text-primary">Jack Wharton</b>.
                    </p>
                    <p class="text-[1.2em] xl:text-[1.5em] m-0 animate-enter fade-in-10 slide-in-from-b-20 animate-duration-1000 text-center lg:text-end">
                        I'm a full-stack web developer from the Seattle area who specializes in creating <a class="text-primary">efficient</a>, <a class="text-primary">functional</a>, and <a class="text-primary">elegant</a> applications to solve real world problems.
                    </p>
                    <p-button 
                        class="mt-5 animate-enter fade-in-10 slide-in-from-b-20 animate-duration-1000" 
                        (click)="utilities.navigate(true, '/projects')" 
                        label="View my work and projects" 
                        icon="pi pi-arrow-right"
                    />
                </div>
            </div>

            <!-- Background Waves -->
            <div class="absolute top-0 bottom-[-2px] right-0 left-0 bg-primary-100 [html.app-dark_&]:bg-primary-900 wave-1 z-[-3]"></div>
            <div class="absolute top-0 bottom-[-2px] right-0 left-0 bg-primary-200 [html.app-dark_&]:bg-primary-700 wave-2 z-[-2]"></div>
            <div class="absolute top-0 bottom-[-2px] right-0 left-0 bg-primary wave-3 z-[-1]"></div>
        </div>
    </div>

    <!-- Projects Highlight -->
    <div class="flex flex-col gap-5 items-center justify-center bg-primary pb-[100px] pt-[40px]">
        <h2 
            class="m-0 text-primary-contrast text-[2em] lg:text-[3em] font-bold"
            pAnimateOnScroll 
            enterClass="animate-enter fade-in-10 slide-in-from-t-20 animate-duration-1000" 
        >
            Featured Work
        </h2>
        <div class="flex flex-wrap justify-center gap-8">
            <div
                pAnimateOnScroll
                enterClass="animate-enter fade-in-10 slide-in-from-l-20 animate-duration-1000"
                leaveClass="animate-leave fade-out-0"
                class="flex flex-col border border-surface shadow-lg justify-between items-center max-w-80 rounded-2xl gap-5 overflow-clip bg-surface-100 [html.app-dark_&]:bg-surface-900"
            >
                <p-image alt="Image" [preview]="true" [src]="pathwaysThumbSrc" />
                <div class="px-5 flex flex-col items-center h-full gap-3">
                    <span class="text-2xl font-medium text-center">SCALE Pathways</span>
                    <span class="text-center">A web app for current and prospective college students to create and track course schedules.</span>
                </div>
                <p-button (click)="utilities.navigate(true, '/projects/pathways')" label="Learn More" class="mb-5"/>
            </div>

            <div 
                pAnimateOnScroll 
                enterClass="animate-enter fade-in-10 slide-in-from-b-20 animate-duration-1000" 
                class="flex flex-col border border-surface shadow-lg justify-between items-center max-w-80 rounded-2xl gap-5 overflow-clip bg-surface-100 [html.app-dark_&]:bg-surface-900"
            >
                <p-image alt="Image" [preview]="true" [src]="svThumbSrc" />
                <div class="px-5 flex flex-col items-center h-full gap-3">
                    <span class="text-2xl font-medium text-center">Social Valid</span>
                    <span class="text-center">A complex web app allowing users to create multiple types of homepages according to their needs, and verify their online presense.</span>
                </div>
                <p-button (click)="utilities.navigate(true, '/projects/social-valid')" label="Learn More" class="mb-5"/>
            </div>
            <div 
                pAnimateOnScroll 
                enterClass="animate-enter fade-in-10 slide-in-from-r-20 animate-duration-1000" 
                class="flex flex-col border border-surface shadow-lg justify-between items-center max-w-80 rounded-2xl gap-5 overflow-clip bg-surface-100 [html.app-dark_&]:bg-surface-900"
            >
                <p-image alt="Image" [preview]="true" [src]="apiThumbSrc" />
                <div class="px-5 flex flex-col items-center h-full gap-3">
                    <span class="text-2xl font-medium text-center">Generalized API</span>
                    <span class="text-center">A sample API framework for easily implementing CRUD routes for basic operations on a SQL database.</span>
                </div>
                <p-button (click)="utilities.navigate(true, '/projects/generalized-api')" label="Learn More" class="mb-5"/>
            </div>
        </div>
    </div>

    <!-- Portfolio Source Code Highlight -->
    <div class="w-full relative min-h-[400px] lg:min-h-[600px] mb-[40px] lg:mb-[80px]">
        <!-- Background Waves -->
        <div class="absolute top-[-2px] bottom-0 right-0 left-0 bg-primary wave-b-1 z-[-1]"></div>
        <div class="absolute top-[-2px] bottom-0 right-0 left-0 bg-primary-200 [html.app-dark_&]:bg-primary-700 wave-b-2 z-[-2]"></div>

        <!-- Source Code Highlight Content -->
        <div class="min-h-[400px] lg:min-h-[600px] w-[100%] md:w-[70%] mx-auto p-5 flex flex-col items-start justify-end gap-5" pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-20 animate-duration-1000">
            <h2 class="m-0 text-[2em] lg:text-[3.5em] font-medium">Like this website?</h2>
            <p class="m-0 text-[1.3em] lg:text-[1.5em]">Good news! It's <a class="text-primary" href="https://github.com/jackgw/PortfolioWebsite">open source</a>. Check out the links below to view the source code on my GitHub account or read more about how this website was created.</p>
            <div class="flex flex-row gap-5">
                <p-button label="Source Code" icon="pi pi-github" (click)="utilities.navigate(false, 'https://github.com/jackgw/PortfolioWebsite')"/>
                <p-button label="Read More" icon="pi pi-arrow-right" iconPos="right" (click)="utilities.navigate(true, '/projects/portfolio')" />
            </div>
        </div>
    </div>

    <!-- Contact Info Form -->
    <div id="contactForm" class="flex flex-col items-center justify-center p-5 w-full lg:max-w-[70%] mx-auto mb-[80px]">
        <app-contact class="w-full" pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-b-20 animate-duration-1000"></app-contact>
    </div>

    <!-- Footer -->
    <app-footer class="w-full"></app-footer>
</div>