<div class="flex flex-col gap-5">
    <div class="flex flex-row items-center justify-between w-full">
        <h2 class="text-[2em]"><a class="text-primary">Power Fusion Media</a> - Junior Developer</h2>
        <p>Sept. 2021 - Dec. 2021</p>
    </div>
    <div class="card flex flex-wrap gap-2 w-full">
        <p-tag value="Vue.js"/>
        <p-tag value="Typescript"/>
        <p-tag value="CSS"/>
        <p-tag value="HTML"/>
        <p-tag value="Ptyhon"/>
        <p-tag value="Flask"/>
        <p-tag value="PyQt"/>
        <p-tag value="SQL"/>
        <p-tag value="Selenium Web Scraping"/>
        <p-tag value="AWS CDK"/>
        <p-tag value="Docker"/>
    </div>

    <!-- Overview -->
    <h3 id="overview" class="text-[1.5em] text-primary section">Overview</h3>
    <p>As a Junior Developer at PFM, I created multiple standalone applications to support business needs, including a web app and REST API for searching and reserving unclaimed phone numbers, and a desktop application for scraping and formatting google maps location data.</p>
</div>