<div class="w-full bg-surface-100 [html.app-dark_&]:bg-surface-900 relative min-h-[350px]">
    <div class="absolute right-0 bottom-0 w-[50%] h-[300px] z-1">
        <!-- Background Waves -->
        <div class="absolute left-0 top-0 bottom-0 right-0 bg-primary wave-f-1 z-2"></div>
        <div class="absolute left-0 top-0 bottom-0 right-0 bg-primary-200 [html.app-dark_&]:bg-primary-700 wave-f-2 z-1"></div>
    </div>

    <div class="absolute left-0 right-0 top-0 bottom-0 mx-auto flex flex-row items-start justify-between w-full max-w-[60%] p-5 pt-[80px] z-2">
        <div class="flex flex-col items-center justify-start gap-2">
            <div class="h-[100px] w-[100px] bg-primary logo-img"></div>
            <h1 class="text-[1.5em] font-semibold mb-[5px]">Jack Wharton</h1>
            <p class="text-[1em]">Full Stack Web Developer</p>
        </div>
        <div class="flex flex-col items-start justify-start">
            <p class="ml-[12px] mb-[5px] font-semibold">Jump To</p>
            <p-button label="Home" [link]="true" (click)="utilities.navigate(true, '/')"></p-button>
            <p-button label="Contact" [link]="true" (click)="utilities.navigate(true, '/')"></p-button>
            <p-button label="Projects" [link]="true" (click)="utilities.navigate(true, '/projects')"></p-button>
        </div>
        <div class="flex flex-col items-start justify-start">
            <p class="ml-[12px] mb-[5px] font-semibold">Projects</p>
            <p-button label="Social Valid" [link]="true" (click)="utilities.navigate(true, '/projects/social-valid')"></p-button>
            <p-button label="SCALE Pathways" [link]="true" (click)="utilities.navigate(true, '/projects/pathways')"></p-button>
            <p-button label="Portfolio Website" [link]="true" (click)="utilities.navigate(true, '/projects/portfolio')"></p-button>
            <p-button label="Generalized API" [link]="true" (click)="utilities.navigate(true, '/projects/generalized-api')"></p-button>
        </div>
        <div class="flex flex-col items-start justify-start">
            <p class="ml-[12px] mb-[5px] font-semibold">Contact</p>
            <p-button label="jackgwharton@gmail.com" icon="pi pi-envelope" [link]="true" (click)="utilities.navigate(false, 'mailto:jackgwharton@gmail.com')"></p-button>
            <p-button label="jack-g-wharton" icon="pi pi-linkedin" [link]="true" (click)="utilities.navigate(false, 'https://www.linkedin.com/in/jack-g-wharton/')"></p-button>
            <p-button label="jackgw" icon="pi pi-github" [link]="true" (click)="utilities.navigate(false, 'https://github.com/jackgw')"></p-button>
        </div>
    </div>
</div>