/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "tailwindcss-primeui";
@import 'primeicons/primeicons.css';

:root {
  --font-family: 'Outfit', sans-serif;
}

body,
body .p-component {
  font-family: var(--font-family);
}

/**
 * Fixing an issue with PrimeNG when using input masks in combination with input groups
 * https://github.com/primefaces/primeng/issues/5783
 */
.p-inputgroup .p-inputtext, .p-fluid .p-inputgroup .p-inputtext{ &.p-inputmask{ width: 100%; } }
.p-inputgroup p-inputmask{ width: 100%; }

/* Custom style edits for PrimeNG components */
.panelmenu-no-outline {
  & .p-panelmenu-panel {
    border-width: 0 !important;
  }

  & .p-focus .p-panelmenu-item-content {
    background: transparent !important;

    &:hover {
      background: var(--p-panelmenu-item-focus-background) !important;
    }
  }
}